[h2: Burned Area Fraction]
variable = "burntArea"

[GFED3]
source = "DATA/burntArea/GFED3/burntArea_0.5x0.5.nc"

[GFED4]
source = "DATA/burntArea/GFED3/burntArea_0.5x0.5.nc"

[GFED4S]
source = "DATA/burntArea/GFED3/burntArea_0.5x0.5.nc"
