[h2: Latent Heat]
variable = "hfls"
alternate_vars = "le"
cmap = "Oranges"

[Fluxnet]
source = "DATA/le/FLUXNET/le.nc"
weight = 3
table_unit = "W m-2"
plot_unit = "W m-2"

[Fluxnet-MTE]
source = "DATA/le/FLUXNET-MTE/le_0.5x0.5.nc"
land = True
weight = 9
table_unit = "W m-2"
plot_unit = "W m-2"

