[h2: Surface All Sky Downward Longwave Radiation]
variable = "rlds"

[CERES]
source = "DATA/rlds/CERES/rlds_0.5x0.5.nc"

[GEWEX.SRB]
source = "DATA/rlds/GEWEX.SRB/rlds_0.5x0.5.nc"

[WRMC.BSRN]
source = "DATA/rlds/WRMC.BSRN/rlds.nc"
