[h2: Surface All Sky Net Longwave Radiation]
variable = "rlns"

[CERES]
source = "DATA/rlns/CERES/rlns_0.5x0.5.nc"

[GEWEX.SRB]
source = "DATA/rlns/GEWEX.SRB/rlns_0.5x0.5.nc"

[WRMC.BSRN]
source = "DATA/rlns/WRMC.BSRN/rlns.nc"
