[h2: Surface All Sky Upward Longwave Radiation]
variable = "rlus"

[CERES]
source = "DATA/rlus/CERES/rlus_0.5x0.5.nc"

[GEWEX.SRB]
source = "DATA/rlus/GEWEX.SRB/rlus_0.5x0.5.nc"

[WRMC.BSRN]
source = "DATA/rlus/WRMC.BSRN/rlus.nc"
