[h2: Surface All Sky Net Radiation]
variable = "rns"

[CERES]
source = "DATA/rns/CERES/rns_0.5x0.5.nc"

[FLUXNET]
source = "DATA/rns/FLUXNET/rns.nc"

[GEWEX.SRB]
source = "DATA/rns/GEWEX.SRB/rns_0.5x0.5.nc"

[WRMC.BSRN]
source = "DATA/rns/WRMC.BSRN/rns.nc"
