[h2: Surface All Sky Net Shortwave Radiation]
variable = "rsns"

[CERES]
source = "DATA/rsns/CERES/rsns_0.5x0.5.nc"

[GEWEX.SRB]
source = "DATA/rsns/GEWEX.SRB/rsns_0.5x0.5.nc"

[WRMC.BSRN]
source = "DATA/rsns/WRMC.BSRN/rsns.nc"
